    <!-- CABECERA -->
    <header class="hero">
        <div class="top-bar">
            <div class="logo">
                <img src="{{ site.baseurl }}/assets/img/logo.png" alt="Logo empresa">
            </div>

            <div class="title">
                <p class="title-small">MONTAJES ELÉCTRICOS</p>
                <h1>Rebato Panadero</h1>
                <p class="title-small">ILUMINA TU VIDA</p>
            </div>
        </div>
    </header>
        <!-- NAVEGACIÓN -->
    <nav class="nav-bar">
        <ul>
            <li><a href="{{ site.baseurl }}/" class="active">Inicio</a></li>
            <li><a href="{{ site.baseurl }}/pages/contact/">Contacto</a></li>
        </ul>
    </nav>